PORT=4000
CRYPT_SALT=10
JWT_SECRET_KEY=any_secret_string
JWT_SECRET_REFRESH_KEY=any_secret_string
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_password
POSTGRES_DB=knowledge_hub
POSTGRES_PORT=5432